SHLINK_DEFAULT_DOMAIN=api-shlink.vr766.com
GEOLITE_LICENSE_KEY=

DB_NAME=shlink
DB_USER=shlink
DB_PASSWORD=change-me-db-password
DB_ROOT_PASSWORD=change-me-root-password

INITIAL_API_KEY=change-me-initial-api-key
