server
{
    listen 80;
    listen 443 ssl;
    listen 443 quic;
    http2 on;
    http3 on;
    server_name customer.example.com;

    ssl_certificate    /www/server/panel/vhost/cert/customer.example.com/fullchain.pem;
    ssl_certificate_key    /www/server/panel/vhost/cert/customer.example.com/privkey.pem;

    include /www/server/panel/vhost/nginx/well-known/customer.example.com.conf;

    location / {
        proxy_pass http://127.0.0.1:8080;
        proxy_http_version 1.1;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Request-Id $http_x_request_id;
    }
}
