APP_URL=https://me.vr766.com
PANEL_HOST=me.vr766.com
PANEL_ADMIN_HOST=admin.me.vr766.com
PANEL_CUSTOM_DOMAIN_DNS_TARGET=me.vr766.com
APP_KEY=

DB_NAME=shlink_panel
DB_USER=shlink_panel
DB_PASSWORD=
DB_ROOT_PASSWORD=

SHLINK_BASE_URL=http://shlink:8080
SHLINK_API_KEY=
SHLINK_DEFAULT_DOMAIN=me.vr766.com

INITIAL_API_KEY=
GEOLITE_LICENSE_KEY=
TRUSTED_PROXIES=*
LOG_CHANNEL=stderr
LOG_STACK=single
LOG_STDERR_FORMATTER=Monolog\Formatter\JsonFormatter

STRIPE_KEY=
STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=
STRIPE_PREMIUM_PRICE_ID=
